.dark{

    background-color: darken($grisOscuro, 10);

    p{
        color: $blanco;
    }

    h1, h2, h3, h4{
        color: $gris;
    }

    .anuncio{
        background-color: $grisOscuro;
        border: .1rem solid $grisOscuro;

        .precio{
            color: $verde;
        }

        .icono{
            filter: invert(100%)
        }

    }

    .resumen-propiedad{
        .icono{
            filter: invert(100%)
        }
    }

    .contenido-nosotros{
        blockquote{
            color: $blanco;
        }
    }

    .formulario{
        p, legend, label{
            color: $blanco;
        }
    }

}