@use 'variables' as v;

@mixin sm{
    @media (min-width: v.$telefono){
        @content;
    }
}

@mixin md{
    @media (min-width: v.$tablet){
        @content;
    }
}

@mixin lg{
    @media (min-width: v.$desktop){
        @content;
    }
}

@mixin xl{
    @media (min-width: v.$fullhd){
        @content;
    }
}

@mixin grid ($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}
