//Tipografia

$fuente_principal: 'Montserrat', sans-serif;


//Colores

$azul: #68c9f3;
$redVelvet: #e94333;
$verde: #91d39b;
$rosaVelvet: #d45390;
$negro: #000000;
$blanco: #FFFFFF;

//TamanÌƒos

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$fullhd: 1200px;
